.btn{
    background-color:rgb(223, 226, 219);
    color: aliceblue;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    border: 5px solid black;
    color: black;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
